<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sadnesslearn">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.SadnessLearn">
        <activity
            android:name=".activities.Settings"
            android:exported="true"
            android:parentActivityName=".activities.MainPage"/>
        <activity
            android:name=".activities.ComicsActivity"
            android:exported="true"
            android:parentActivityName=".activities.MainPage" />
        <activity
            android:name=".activities.SolveTask"
            android:exported="true"
            android:parentActivityName=".activities.TaskList" />
        <activity
            android:name=".activities.TaskTypeChoose"
            android:exported="true"
            android:parentActivityName=".activities.MainPage" />
        <activity
            android:name=".activities.TaskList"
            android:exported="true"
            android:parentActivityName=".activities.TaskTypeChoose" />
        <activity
            android:name=".activities.CodeRunResult"
            android:exported="true"
            android:parentActivityName=".activities.Sandbox" />
        <activity
            android:name=".activities.Sandbox"
            android:exported="true"
            android:parentActivityName=".activities.MainPage" />
        <activity
            android:name=".activities.ResetPassword"
            android:exported="true"
            android:parentActivityName=".activities.SignIn" />
        <activity
            android:name=".activities.SignIn"
            android:exported="true"
            android:parentActivityName=".activities.Authentification" />
        <activity
            android:name=".activities.MainPage"
            android:exported="false" />
        <activity
            android:name=".activities.Registration"
            android:exported="true"
            android:parentActivityName=".activities.Authentification" />
        <activity
            android:name=".activities.Authentification"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>