<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sadnesslearn">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SadnessLearn">
        <activity
            android:name=".SolveCodeTask"
            android:exported="true"
            android:parentActivityName=".TaskList"/>
        <activity
            android:name=".TaskTypeChoose"
            android:exported="true"
            android:parentActivityName=".MainPage" />
        <activity
            android:name=".TaskList"
            android:exported="true"
            android:parentActivityName=".TaskTypeChoose" />
        <activity
            android:name=".CodeRunResult"
            android:exported="true"
            android:parentActivityName=".Sandbox" />
        <activity
            android:name=".Sandbox"
            android:exported="true"
            android:parentActivityName=".MainPage" />
        <activity
            android:name=".ResetPassword"
            android:exported="true"
            android:parentActivityName=".SignIn" />
        <activity
            android:name=".SignIn"
            android:exported="true"
            android:parentActivityName=".Authentification" />
        <activity
            android:name=".MainPage"
            android:exported="false" />
        <activity
            android:name=".Registration"
            android:exported="true"
            android:parentActivityName=".Authentification" />
        <activity
            android:name=".Authentification"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>